<div class="navbar">
    <ul>
      <li>Sorry, data is not available at this time. Please <%= link_to "try your query again", root_path %> in an hour.</li>
    </ul>
</div>
<h1><%= @words_array%></h1>

		



