<div class="navbar">
    <ul>
      <li><div class="display-name">Sorry, data is not available at this time. Please <a><%= link_to "try your query again", root_path %></a> in an hour.</div></li>
    </ul>
</div>
<h1><%= @words_array%></h1>

		



